<form class="row">
  <div class="col-md-2">
    <!--<label for="nombre">Nombre</label>-->
    <input
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
      class="form-control"
      #nombreRef
    />
  </div>
  <div class="col-md-2">
    <!--<label for="apellido">Apellido</label>-->
    <input
      type="text"
      name="apellido"
      id="apellido"
      placeholder="Apellido"
      class="form-control"
      #apellidoRef
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="agregarPersona()">
      Agregar Pibe
    </button>
  </div>
</form>
