<form class="row">
  <div class="col-md-3">
    <input
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
      class="form-control"
      [(ngModel)]="nombreInput"
    />
  </div>
  <div class="col-md-3">
    <input
      type="text"
      name="apellido"
      id="apellido"
      placeholder="Apellido"
      class="form-control"
      [(ngModel)]="apellidoInput"
    />
  </div>
  <div class="col-md-3">
    <input
      type="number"
      name="dinero"
      id="dinero"
      placeholder="Dinero"
      class="form-control"
      [(ngModel)]="dineroInput"
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="agregarPersona()">
      Agregar Pibe
    </button>
  </div>
</form>
